import(mvtnorm)
import(rstan)
import(ggplot2)
export(fisher_evaluation)
export(template_model)
export(fisher_optimization)
importFrom("graphics", "legend", "lines")
importFrom("stats", "quantile", "rnorm")
importFrom("utils", "combn")